<div class="title w-100 py-5 my-5">
    <h2 class=" text-center">CONATCT SECTION</h2>
    <p class="text-center"><i class="fa-solid fa-star"></i></p>
</div>
<div class="container w-75 d-flex flex-column ">
    <input type="text" class="py-3 border-0 border-bottom mb-2 form-control" placeholder="userName">
    <input type="number" class="py-3 form-control border-0 border-bottom mb-2" placeholder="userage">
    <input type="email" class="py-3 form-control border-0 border-bottom mb-2" placeholder="useremail">
    <input type="password" class="py-3 form-control border-0 border-bottom mb-2" placeholder="userpassword">
    <button class="btn text-start py-3 px-2 text-white mb-5 my-2">Send Message</button>
</div>
