<div class="container min-vh-100 w-100 ">
    <div class="title">
        <h2 class=" text-center">PORTFOLIO COMPONENT</h2>
        <p class="text-center"><i class="fa-solid fa-star"></i></p>
    </div>
    <div class="row  d-flex justify-content-center g-5 align-items-center w-100 py-5">
        
        <div class="col-md-4 position-relative">
            <div class="layer rounded d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 fw-bolder  fa-2xl text-white"></i>
            </div>
            <img src="assets/poert1.png" class="w-100 rounded img-l" alt="">
        </div>
        <div class="col-md-4 position-relative">
            <div class="layer rounded d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 fw-bolder  fa-2xl text-white"></i>
            </div>
            <img src="assets/port2.png"class="w-100 rounded" alt="">
        </div>
        <div class="col-md-4 position-relative">
            <div class="layer rounded d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 fw-bolder  fa-2xl text-white"></i>
            </div>
            <img src="assets/port3.png"class="w-100 rounded" alt="">
        </div>
        <div class="col-md-4 position-relative">
            <div class="layer rounded d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 fw-bolder  fa-2xl text-white"></i>
            </div>
            <img src="assets/poert1.png" class="w-100 rounded" alt="">
        </div>
        <div class="col-md-4 position-relative">
            <div class="layer rounded d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 fw-bolder  fa-2xl text-white"></i>
            </div>
            <img src="assets/port2.png"class="w-100 rounded" alt="">
        </div>
        <div class="col-md-4 position-relative">
             <div class="layer rounded d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus fs-1 fw-bolder  fa-2xl text-white"></i>
            </div>
            <img src="assets/port3.png"class="w-100 rounded" alt="">
        </div>
    </div>
</div>