<div class="footer w-100  p-5">
  <div class="container">
    <div class="row g-5">
<div class="col-md-4 text-center">
<h3>LOCATION</h3>
<p>2215 John Daniel Drive</p>
<p>Clark, MO 65243</p>

</div>
<div class="col-md-4 text-center">
    <h3 class="text-center">AROUND THE WEB</h3>
    <div class="links d-flex flex-row gap-2 text-center justify-content-center align-items-center">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-solid fa-globe"></i>
    </div>
    
    </div>
<div class="col-md-4 text-center">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
        
        </div>

    </div>
    
  </div>
</div>
<div class=" text-white w-100 container-fluid px-5 bg-black text-center py-4">
  <p>Copyright © Your Website 2021</p>

</div>