<section class="d-block">
    <div class="container w-100 d-flex flex-column  justify-content-center align-items-center p-5" >
        <img src="assets/avataaars.svg" class="w-25" alt="">
        <div class="title text-center ">
           
            <h2 class="text-white text-center">START FRAMEWORK</h2>
            <p class="text-center"><i class="fa-solid fa-star"></i></p>
        </div>
        <h6 class="text-center">Graphic Artist - Web Designer - Illustrator</h6>
    
    </div>
</section>